/**
 *  Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");


/**
 *  Global variables - fonts and color palette
 */
:root {
    --primary-font: "Cascadia Mono", monospace;
    --secondary-font: "Fira Mono", monospace;
    --chinese-font: "Noto Sans SC", sans-serif;

    --bg-color: #000000;
    --fg-color: #c4c4c4;
    --highlight-color: #ffffff;
    --accent-color1: #689d6a;
    /* --accent-color1: #8ec07c; */
    /* --accent-color1: #83a598; */
    --accent-color2: #fabd2f;
    /* --accent-color2: #f9d507; */
}

/**
 *  Base styles
 */
html,
body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    height: 100%;
    width: 100%;
    margin: auto;
    /* justify-content: center; */
    /* overflow: hidden; */
}

/**
 *  Content Body
 */
.content-body {
    font-family: var(--primary-font);
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 80px;
    padding-top: 20vh;
    margin: auto;

    /**
     *  Accent colors
     */
    .accent {
        color: var(--accent-color1);
    }

    .secondary-font {
        font-family: var(--secondary-font);
    }

    /**
     *  Accent symbols
     */
    .symbol {
        font-size: 2rem;
        margin-right: -10px;
    }

    .hidden {
        display: none;
    }

    /**
     *  Color block
     */
    .color-block {
        background-color: var(--accent-color1);
        background-image: linear-gradient(var(--accent-color1), var(--bg-color));
        /* background-image: linear-gradient(var(--accent-color1), var(--accent-color1), var(--bg-color)); */
        display: flex;
        margin-bottom: -85px;
        width: 140px;
    }

    /**
     *  Text content - name, tag, and links
     */
    .text-body {
        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px 15px 10px;
            font-style: italic;
            line-height: 2rem;

            .top-name {
                font-size: 2rem;
                text-transform: lowercase;
            }

            .chinese {
                font-family: var(--chinese-font);
                font-size: 2.4rem;
                font-style: normal;
            }

            .tag {
                font-size: 1.8rem;
            }
        }

        .title {
            color: var(--highlight-color);
            font-size: 6rem;
            margin: 0;
        }
    }


    /**
     *  Links container
     */
    .links-container {
        padding-left: 15px;
        padding-top: 4vh;

        .subhead {
            font-size: 1.5rem;
            font-style: italic;
        }

        .links-group {
            line-height: 3rem;
            margin-top: 2vh;

            .link {
                height: 3rem;

                a {
                    color: var(--fg-color);
                    font-size: 1.6rem;
                    text-decoration: none;
                    transition: all 0.2s;

                    &:hover {
                        color: var(--highlight-color);
                        font-size: 1.7rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/**
 *  Mobile view
 */
@media only screen and (max-width: 876px) {
    /**
     *  Content body
     */
    .content-body {
        display: block;
        text-align: center;
        padding-top: 10vh;

        .symbol {
            font-size: 1.2rem;
            margin-right: -5px;
        }

        .color-block {
            background-image: none;
            height: 35px;
            width: 35px;
            margin: auto;
        }

        .text-body {
            padding-top: 2.5vh;

            .top-row {
                display: block;
                line-height: 1.5rem;

                .top-name {
                    font-size: 1.2rem;
                }

                .chinese {
                    font-size: 1.4rem;
                }

                .tag {
                    font-size: 1.1rem;
                }
            }

            .title {
                font-size: 3rem;
            }

            .links-container {
                padding: 3vh 0 0 0;

                .subhead {
                    font-size: 1rem;
                }

                .links-group {
                    margin-top: 1vh;

                    .link {
                        height: 2rem;

                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
